.bg-birumuda{
    color: black;
    background-color: #FF6718;
}

.bg-warna2{
    color: black;
    background-color: #732F0B;
}

.padding-saya{
    padding-top: 50px;
    padding-bottom: 50px;

}

.foto{
    height: 200px;
}
